section.secFiltros {
    display: flex;
    justify-content: end;
}

    .secFiltros p {
        border: var(--quaternario) 1px solid;
        padding: 5px;
        color: var(--secundario);
        width: 20%;
        display: flex;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
        user-select: none;
    }

    .secFiltros i {
        margin-right: 5px;
    }

section.secUsuario {
    margin-bottom: var(--marginTop);
}

section.secUsuario.oculto {
    display: none;
}

    section.secUsuario .banner {
        border: var(--quaternario) 1px solid;
        padding: 10px;
        cursor: pointer;
        display: flex;
        font-size: 17px;
        font-weight: bold;
        margin-top: 10px;
    }

        section.secUsuario .banner p {
            margin-left: 10px;
        }


section.secComentarios {
    margin-bottom: var(--marginTop);
    border-top: none;
}

section.secComentarios.oculto {
    display: none;
}
