section.secFiltros {
    display: flex;
    justify-content: end;
}

    .secFiltros a {
        border: var(--quaternario) 1px solid;
        padding: 5px;
        color: var(--secundario);
        width: 20%;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .secFiltros i {
        margin-right: 5px;
    }

section.secUsuario {
    margin-top: var(--marginTop);
}

    section.secUsuario .banner {
        border: var(--quaternario) 1px solid;
        padding: 10px;
        cursor: pointer;
        display: flex;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
    }


section.secComentarios {
    margin-top: var(--marginTop);
}

    section.secComentarios .banner {
        border: var(--quaternario) 1px solid;
        padding: 10px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    section.secComentarios .banner:last-child {
        margin-bottom: 0;
    }

        .banner .titulo {
            display: flex;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;
        }

            .banner i {
                margin-right: 10px;
            }

            .banner .comentario {
                font-size: 16px;
                margin-bottom: 15px;
                text-align: justify;
            }

            .banner .infos {
                font-size: 14px;
                text-align: right;
            }