* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --principal: #0A090C;
    --secundario: #F0EDEE;
    --terciario: #131213;
    --quaternario: #2c666e;
    --quinary: #90ddf0; 

    --respiroWidth: 0 10vw;
    --respiroHeight: 10px 0;
    --respiroComentario: 0 20vw;

    --marginTop: 20px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--principal);
}

/* FLASH */

#messages {
    text-align: center;
    color: var(--secundario);
    font-size: 20px;
    margin-top: var(--marginTop);
}

/* HEADER */

header {
    padding: var(--respiroWidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--quaternario) 1px solid;
    user-select: none;
}

    header .logo {
    font-size: 18px;
    margin: var(--respiroHeight);
    }   

        header p { 
        color: var(--secundario);
        margin-left:10px;
        font-size: 18px;
        cursor: pointer;
        }

        header p:hover {
            color: var(--quinary);
        }

        header a { 
        color: var(--secundario);
        margin-left:10px;
        font-size: 18px;
        }

        header a:hover {
            color: var(--quinary);
        }

        header i {
            margin-right: 10px;
        }


/* BARRA EXPLORAR */

section.barraExplorar {
    display: none;
}

section.barraExplorar.ativar {
    display: flex;
}

    section.barraExplorar form {
        flex-direction: row;
        width: calc(100vw - 40vw);
    }

        section.barraExplorar input {
            width: 90%;
            margin-right: 10px;
        }

        section.barraExplorar #submit {
            width: 10%;
            cursor: pointer;
        }


/* BARRA DE POST */


section.secPublicar {
    margin-top: var(--marginTop);
    display: none;
}

section.secPublicar.ativo {
    display: flex;
}

    .secPublicar form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .secPublicar textarea {
        resize: none;
        overflow-y: hidden;
        width: calc(100% - 20px);
        padding: 10px;
        min-height: 50px;
        height: auto;
        background-color: var(--principal);
        color: var(--secundario);
        border: var(--quaternario) 1px solid;
    }

    .secPublicar textarea:focus {
        outline: none;
    }

    .secPublicar input[type="submit"] {
        margin-top: 10px;
        padding: 10px;
        border: var(--quaternario) 1px solid;
        color: var(--secundario);
        cursor: pointer;
        background-color: var(--principal);
        transition: 350ms;
        align-self: flex-end;
        width: 100%;
    }

    .secPublicar input[type="submit"]:hover {
        background-color: var(--quaternario);
        color: var(--secundario);
        transition: 350ms;
        border: 1px solid var(--secundario);
    }

/* MAIN */

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

section {
    padding: var(--respiroComentario);
    color: var(--secundario);
    margin-top: var(--marginTop);
}

/* INPUTS */

section form {
    display: flex;
    flex-direction: column;
}

    form input {
        background-color: var(--principal);
        border: 1px var(--quaternario) solid;
        padding: 10px;
        color: var(--secundario);
        margin-top: 10px;
        width: 30vw;
    }

    form input:focus-visible {
        outline: none;
        color: var(--secundario);
    }

    form textarea {
        background-color: var(--principal);
        border: 1px var(--quaternario) solid;
        padding: 10px;
        color: var(--secundario);
        margin-top: 10px;
        width: 30vw;
        resize: none;
    }

    form textarea:focus-visible {
        outline: none;
    }

    form #submit {
        width: calc(30vw + 20px);
        transition: 350ms;
    }

    form #submit:hover {
        background-color: var(--quaternario);
        color: var(--secundario);
        transition: 350ms;
        border: 1px solid var(--secundario);
    }

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--respiroWidth);
}

    footer .logo {
        font-size: 30px;
        margin: var(--respiroHeight);
        color: var(--secundario);
        }

    footer .logo:hover {
        color: var(--quinary);
    }

    footer a {
        color: var(--secundario);
    }

    footer a:hover {
        color: var(--quinary);
    }

/* BTN POST */

.btnPost {
    color: var(--secundario);
    background-color: var(--quaternario);
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin: 20px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    transition: 350ms;
}

.btnPost:hover {
    color: var(--quaternario);
    background-color: var(--secundario);
    transition: 350ms;
}