* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --principal: #0A090C;
    --secundario: #F0EDEE;
    --terciario: #ff0000;
    --quaternario: #2c666e;
    --quinary: #90ddf0; 

    --respiroWidth: 0 10vw;
    --respiroHeight: 10px 0;
    --respiroComentario: 0 25vw;

    --marginTop: 20px;
    --border: 10px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--principal);
}

/* FLASH */

#messages {
    text-align: center;
    color: var(--secundario);
    font-size: 20px;
    margin-top: var(--marginTop);
}

/* HEADER */

header {
    padding: var(--respiroComentario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--quaternario) 1px solid;
    user-select: none;
}

    header .logo {
    font-size: 18px;
    margin: var(--respiroHeight);
    }   

        header p { 
        color: var(--secundario);
        margin-left:10px;
        font-size: 18px;
        cursor: pointer;
        }

        header p:hover {
            color: var(--quinary);
        }

        header a { 
        color: var(--secundario);
        margin-left:10px;
        font-size: 18px;
        display: flex;
        align-items: center;
        }

        header a:hover {
            color: var(--quinary);
        }

        header i {
            margin-right: 10px;
            font-size: 25px;
        }

                header .BarraMenu a {
                    display: flex;
                    align-items: center;
                }

                header .BarraMenu img {
                    width: 45px;
                    height: 45px;
                    
                    margin: 10px 10px 10px 0;
                    border: 1px solid var(--quaternario);
                }
        
        header form {
            display: none;
            align-items: center;
            justify-content: center;
        }

        header #formExplorar.ativar {
            display: flex;
        }

        header i.ocultar {
            display: none;
        }

            header form input {
                width: 200px;
                margin: 0;
            }

            header i {
                margin-left: 10px;
                color: var(--secundario);
                cursor: pointer;
            }

        header .BarraAutenticar {
            display: flex;
        }

            header .BarraAutenticar a {
                margin: 0;
            }


/* BARRA DE POST */


section.secPublicar {
    margin-top: var(--marginTop);
    display: none;
}

section.secPublicar.ativar {
    display: flex;
}

    .secPublicar form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .secPublicar textarea {
        resize: none;
        overflow-y: hidden;
        width: calc(100% - 20px);
        padding: 10px;
        min-height: 50px;
        height: auto;
        background-color: var(--principal);
        color: var(--secundario);
        border: var(--quaternario) 1px solid;
    }

    .secPublicar textarea:focus {
        outline: none;
    }

    .secPublicar input[type="submit"] {
        margin-top: 10px;
        padding: 10px;
        border: var(--quaternario) 1px solid;
        color: var(--secundario);
        cursor: pointer;
        background-color: var(--principal);
        transition: 350ms;
        align-self: flex-end;
        width: 100%;
    }

    .secPublicar input[type="submit"]:hover {
        background-color: var(--quaternario);
        color: var(--secundario);
        transition: 350ms;
        border: 1px solid var(--secundario);
    }


/* BOX DE FILTROS */

.btnComentarios {
    display: flex;
}

    .btnComentarios p {
        border: 1px solid var(--quaternario);
        width: max-content;
        padding: 5px;
        margin-right: 10px;
        margin-top: var(--marginTop);
        margin-bottom: var(--marginTop);
        cursor: pointer;
    }

    .btnComentarios p:hover {
        background-color: var(--quaternario);
        border: 1px solid var(--secundario);
        transition: 350ms;
    }

/* BOX DE COMENTARIOS */

section.secComentarios {
margin-top: var(--marginTop);
}

section.secComentarios h2 {
    margin-bottom: var(--marginTop);
    margin-top: var(--marginTop);
}

section.secComentarios .bannerComentario {
    border: var(--quaternario) 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

    section.secComentarios .bannerComentario .titulo div {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        cursor: pointer;
    }

        section.secComentarios .bannerComentario .titulo div img {
            width: 40px;
            height: 40px;
            
            margin-right: 10px;
            border: 1px solid var(--quaternario);
        }

        section.secComentarios .bannerComentario .titulo i {
            margin-right: 10px;
        }

    section.secComentarios .bannerComentario .titulo > p {
        margin-bottom: 15px;
    }

    section.secComentarios .bannerComentario .comentario {
        font-size: 16px;
        margin-bottom: 15px;
        text-align: justify;
        word-wrap: break-word;
    }

    section.secComentarios .bannerComentario .infos {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        text-align: right;
    }

        section.secComentarios .infos div {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

                section.secComentarios .infos div i {
                    margin-right: 5px;
                }

                section.secComentarios .infos .ativo{
                    color: var(--terciario);
                }

            section.secComentarios .infos div:hover {
                color: var(--quinary);
            }

            section.secComentarios .infos div:last-child:hover {
                color: var(--secundario);
                cursor: auto;
            }

/* MAIN */

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

section {
    padding: var(--respiroComentario);
    color: var(--secundario);
    margin-top: var(--marginTop);
}

/* INPUTS */

section form {
    display: flex;
    flex-direction: column;
}

    form input {
        background-color: var(--principal);
        border: 1px var(--quaternario) solid;
        padding: 10px;
        color: var(--secundario);
        margin-top: 10px;
        width: 30vw;
        word-wrap: break-word;
    }

    form input:focus-visible {
        outline: none;
        color: var(--secundario);
    }

    form textarea {
        background-color: var(--principal);
        border: 1px var(--quaternario) solid;
        padding: 10px;
        color: var(--secundario);
        margin-top: 10px;
        width: 30vw;
        resize: none;
    }

    form textarea:focus-visible {
        outline: none;
    }

    form #submit {
        width: calc(30vw + 20px);
        transition: 350ms;
    }

    form #submit:hover {
        background-color: var(--quaternario);
        color: var(--secundario);
        transition: 350ms;
        border: 1px solid var(--secundario);
    }

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--respiroWidth);
}

    footer .logo {
        font-size: 30px;
        margin: var(--respiroHeight);
        color: var(--secundario);
        }

    footer .logo:hover {
        color: var(--quinary);
    }

    footer a {
        color: var(--secundario);
    }

    footer a:hover {
        color: var(--quinary);
    }

/* BTN POST */

.btnPost {
    color: var(--secundario);
    background-color: var(--quaternario);
    padding: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin: 20px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    transition: 350ms;
}

.btnPost:hover {
    color: var(--quaternario);
    background-color: var(--secundario);
    transition: 350ms;
}