section.secBemvindo {
    margin-top: var(--marginTop);
}

section.secComentarios {
    border-top: var(--quaternario) 1px solid;
    margin-top: var(--marginTop);
}

    section.secComentarios h2 {
        margin-bottom: var(--marginTop);
        margin-top: var(--marginTop);
    }

    section.secComentarios .banner {
        border: var(--quaternario) 1px solid;
        padding: 10px;
        cursor: pointer;
        margin-bottom: 10px;
    }

        .banner .titulo {
            display: flex;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;
        }

            .banner .titulo i {
                margin-right: 10px;
            }

        .banner .comentario {
            font-size: 16px;
            margin-bottom: 15px;
            text-align: justify;
        }

        .banner .infos {
            font-size: 14px;
            text-align: right;
        }