section.secUsuario {
    margin-top: var(--marginTop);
}

    section.secUsuario .banner {
        background-size: cover; /* Faz a imagem se ajustar à div */
        background-repeat: no-repeat; /* Evita repetição da imagem */
        background-position: center center; /* Centraliza a imagem na div */
        width: 100%;
        height: 150px;
    }

        section.secUsuario .banner img {
            color: var(--quinary);
            position: relative;
            background-color: var(--principal);
            width: 120px;
            height: 120px;
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px 20px 0 0;
            top: 27px;
            margin-left: 10px;
        }

    section.secUsuario .userTitulo {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: var(--secundario);
        margin-top: 5px;
    }

    section.secUsuario .userTitulo .name {
            font-size: 20px;
        }

        section.secUsuario .userTitulo button {
            background-color: var(--principal);
            border: var(--quaternario) 1px solid;
            color: var(--secundario);
            padding: 5px;
            cursor: pointer;
        }

        section.secUsuario .userTitulo button:hover {
            background-color: var(--quaternario);
            border: var(--secundario) 1px solid;
            transition: 350ms;
        }

    section.secUsuario .userBio {
        font-size: 14px;
        margin-top: var(--marginTop);
    }

section.secEditarPerfil {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: var(--principal);
    width: calc(60vw - 60px);
    align-self: center;
    border: 1px solid var(--quaternario);
    padding: 30px;
    margin: var(--respiroComentario);
    margin-top: 20px;
    height: 80vh;
    align-items: center;
}

    section.secEditarPerfil .conteudoBanner {
        height: 180px;
    }

    section.secEditarPerfil .banner {
        position: relative;
        background: url(../img/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: var(--respiroComentario);
        height: 150px;
        margin-top: var(--marginTop);
        border: 3px solid var(--principal);
        cursor: pointer;
    }

    section.secEditarPerfil .banner:hover {
        border: 3px solid var(--quaternario);
        transition: 350ms;
    }

    section.secEditarPerfil img {
        color: var(--quinary);
        position: relative;
        background-color: var(--principal);
        width: 120px;
        height: 120px;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px 20px 0 0;
        top: -123px;
        margin-left: 10px;
        transition: 350ms;
    }

    section.secEditarPerfil img:hover {
        background-color: var(--quaternario);
    }


section.secEditarPerfil.ativar {
    display: flex;
}

    section.secEditarPerfil .titulo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section.secEditarPerfil .titulo i {
        font-size: 25px;
        cursor: pointer;
    }

    section.secEditarPerfil label {
        font-size: 16px;
        margin-top: var(--marginTop);
    }

    section.secEditarPerfil input, section.secEditarPerfil textarea {
        width: calc(100% - 20px);
    }

    section.secEditarPerfil #submit {
        width: calc(100% + 2px);
    }

    section.secEditarPerfil input[type=file] {
        display: none;
    }