{% extends "template.html" %}

{% block head %}
<title>Explorar | OrbitChat</title>
<link rel="stylesheet" href="../static/css/explorar.css">
<script src="../static/js/script.js" defer></script>
{% endblock %}

{% block conteudo %}
<main>
    <section class="secFiltros">
        <input type="search" value="teste">
        <a href="/explorar?q=usuarios"><i class="fa-solid fa-check"></i>Usuarios</a>
        <a href="/explorar?q=comentarios"><i class="fa-solid fa-check"></i>Comentarios</a>
    </section>
    <section class="secUsuario">
        <h2>Usuarios</h2>
        <p>Não usuarios com esse nome.</p>
        {% for usuario in usuarios %}
        <div onclick="window.location = '/perfil?q={{usuario.usuario}}'" class="banner">
            <i class="fa-regular fa-user"></i>
            <p>{{usuario.nome}}</p>
        </div>
        {% endfor %}
    </section>
    <section class="secComentarios">
        <h2>Comentarios:</h2>
        <p>Não há comentarios com essa palavra.</p>
        {% for comentario in comentarios %}
        <div class="banner">
            <div class="titulo">
                <i class="fa-regular fa-user"></i>
                <p>{{ comentario.fk_nome }}</p>
            </div>
            <div class="comentario">
                <p>{{ comentario.comentario }}</p>
            </div>
            <div class="infos">
                {% if comentario.data %}
                <p>{{ comentario.data.strftime('%d/%m/%Y - %H:%M') }}</p>
                {% else %}
                <p>A data não está disponível.</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </section>

</main>
{% endblock %}
