{% extends "template.html" %}

{% block head %}
<title>Explorar | OrbitChat</title>
<link rel="stylesheet" href="../static/css/explorar.css">
<script src="../static/js/script.js" defer></script>
{% endblock %}

{% block conteudo %}
<main>
    <section class="secFiltros">
        <input type="search" value="teste">
        <a href="/explorar?q=usuarios"><i class="fa-solid fa-check"></i>Usuarios</a>
        <a href="/explorar?q=comentarios"><i class="fa-solid fa-check"></i>Comentarios</a>
    </section>
    <section class="secUsuario">
        <h2>Usuarios</h2>
        <p>Não usuarios com esse nome.</p>
        <div class="banner">
            <i class="fa-regular fa-user"></i>
            <p>João Gabriel</p>
        </div>
    </section>
    <section class="secComentarios">
        <h2>Comentarios:</h2>
        <p>Não há comentarios com essa palavra.</p>
        <div class="banner">
            <div class="titulo">
                <i class="fa-regular fa-user"></i>
                <p>João Gabriel</p>
            </div>
            <div class="comentario">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt optio minus dolor repellendus atque hic voluptatem veritatis saepe dolores iure aspernatur, earum praesentium vel obcaecati voluptate modi minima delectus. Dolores.</p>
            </div>
            <div class="infos">
                <p>01/10/2023 - 16:47</p>
            </div>
        </div>
    </section>

</main>
{% endblock %}
