{% extends "template.html" %}

{% block head %}
<title>Pagina inicial | OrbitChat</title>
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block conteudo %}
<main>
    <section class="secComentarios">
        {% if user == None %}
        <div class="btnComentarios">
        </div>
            {% for comentario in comentarios %}
            {% include "secComentario.html" %}
            {% endfor %}
        {% else %}
        <div class="btnComentarios">
            <p onclick="window.location = '/?action=seguindo'">Seguindo</p>
            <p onclick="window.location = '/?action=todos'">Todos</p>
        </div>
            {% if action == 'seguindo' or action == None %}
                {% for comentario in seguidoresComentarios %}
                {% include "secComentario.html" %}
                {% endfor %}
            {% else %}
                {% for comentario in comentarios %}
                {% include "secComentario.html" %}
                {% endfor %}
                {% endif %}
        {% endif %}
    </section>
</main>
{% endblock %}