{% extends "template.html" %}

{% block head %}
<title>Pagina inicial</title>
<link rel="stylesheet" href="../static/css/index.css">
<script src="../static/js/index.js" defer></script>
{% endblock %}

{% block conteudo %}
<main>
    <section class="secBemvindo">
        <h1>Bem vindo ao OrbitChat</h1>
        <p>OrbitChat é uma rede social para você se conectar com seus amigos.</p>
    </section>
    <section class="secPublicar">
        <form action="" method="post">
            <textarea onkeyup="ajustarTamanho(this)" name="publicacao" id="publicacao" placeholder="O que você está pensando?"></textarea>
            <input type="submit" value="Publicar">
        </form>
    </section>
    <section class="secComentarios">
        <h2>Para você:</h2>
        <div class="banner">
            <div class="titulo">
                <i class="fa-regular fa-user"></i>
                <p>João Gabriel</p>
            </div>
            <div class="comentario">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt optio minus dolor repellendus atque hic voluptatem veritatis saepe dolores iure aspernatur, earum praesentium vel obcaecati voluptate modi minima delectus. Dolores.</p>
            </div>
            <div class="infos">
                <p>01/10/2023 - 16:47</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}
