{% extends "template.html" %}

{% block head %}
<title>Pagina inicial | OrbitChat</title>
<link rel="stylesheet" href="../static/css/index.css">
<script src="../static/js/script.js" defer></script>
{% endblock %}

{% block conteudo %}
<main>
    <section class="secBemvindo">
        <h1>Bem vindo ao OrbitChat</h1>
        <p>OrbitChat é uma rede social para você se conectar com seus amigos.</p>
    </section>
    <section class="secComentarios">
        {% if user == None %}
        <div class="btnComentarios">
            <p onclick="window.location = ''">Todos</p>
        </div>
        {% for comentario in comentarios %}
        {% include "secComentario.html" %}
        {% endfor %}
        {% else %}
        <div class="btnComentarios">
            <p onclick="window.location = '/?action=seguindo'">Seguindo</p>
            <p onclick="window.location = '/?action=todos'">Todos</p>
        </div>
        {% if action == 'seguindo' or action == None %}
            {% for comentario in seguidoresComentarios %}
            {% include "secComentario.html" %}
            {% endfor %}
        {% else %}
            {% for comentario in comentarios %}
            {% include "secComentario.html" %}
            {% endfor %}
            {% endif %}
        {% endif %}
    </section>
</main>
{% endblock %}