{% extends "template.html" %}

{% block head %}
<title>Perfil | OrbitChat</title>
<link rel="stylesheet" href="../static/css/perfil.css">
<script src="../static/js/perfil.js" defer></script>
{% endblock %}

{% block conteudo %}
<main>
    <section class="secUsuario">
        <div class="banner">
            <i class="fa-regular fa-user"></i>
        </div>
        <div class="userTitulo">
            <p class="name">{{ usuario.nome }}</p>
            {% if usuario.email == user %}
            <button class="btnEditarPerfil">Editar perfil</button>
            {% else %}
                {% if user == None %}
                <button>Seguir</button>
                {% else %}
                    {% if seguidor.query.filter_by(user_email=usuario.email, fk_id=usuario.id).first() == None %}
                    <button class="seguir">Seguir</button>
                    {% else %}
                    <button class="seguir seguindo">Seguindo</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <p class="userUsuario">@{{ usuario.usuario }}</p>
        <p class="userBio">{{ usuario.descricao }}</p>
        <p class="userBio"><span class="qtd_seguidores">{{usuario.qtd_seguidores}}</span> Seguidores | {{ usuario.qtd_seguindo }} Seguindo</p>
    </section>
    <section class="secEditarPerfil">
        <form action="atualizarPerfil" method="post">
            <div class="titulo">
                <h2>Editar perfil:</h2>
                <i class="closeEditarPerfil fa-solid fa-xmark"></i>
            </div>
            <label for="nome">Nome:</label>
            <input type="text" name="name" id="name" value="{{ usuario.nome }}">
            <label for="descricao">Descrição:</label>
            <textarea onkeyup="ajustarTamanho(this)" name="descricao" id="descricao">{{ usuario.descricao }}</textarea>
            <input type="submit" id="submit">
        </form>
    </section>
    <section class="secComentarios">
        <div class="btnComentarios">
            <p onclick="window.location = '/@{{usuario.usuario}}?action=post'">Publicações</p>
            <p onclick="window.location = '/@{{usuario.usuario}}?action=respostas'">Respostas</p>
        </div>
        {% if action == 'post' or action == None %}
        {% for comentario in comentarios %}
        {% include "secComentario.html" %}
        {% endfor %}
        {% else %}
        {% for comentario in respostas %}
        {% include "secComentario.html" %}
        {% endfor %}
        {% endif %}
    </section>
</main>
{% endblock %}