{% extends "template.html" %}

{% block head %}
<title>Perfil | OrbitChat</title>
<link rel="stylesheet" href="../static/css/perfil.css">
<script src="../static/js/script.js" defer></script>
{% endblock %}

{% block conteudo %}
<main>
    <section class="secUsuario">
        <div class="banner">
            <i class="fa-regular fa-user"></i>
        </div>
        <div class="userTitulo">
            <p class="name">{{ user.nome }}</p>
            {% if user.email == session['user'] %}
            <button class="btnEditarPerfil">Editar perfil</button>
            {% else %}
            <button class="">Seguir</button>
            {% endif %}
        </div>
        <p class="userBio">{{ user.descricao }}</p>
    </section>
    <section class="secEditarPerfil">
        <form action="atualizarPerfil" method="post">
            <div class="titulo">
                <h2>Editar perfil:</h2>
                <i class="closeEditarPerfil fa-solid fa-xmark"></i>
            </div>
            <label for="nome">Nome:</label>
            <input type="text" name="name" id="name" value="{{ user.nome }}">
            <label for="descricao">Descrição:</label>
            <textarea onkeyup="ajustarTamanho(this)" name="descricao" id="descricao">{{ user.descricao }}</textarea>
            <input type="submit" id="submit">
        </form>
    </section>
    <section class="secComentarios">
        <div class="btnComentarios">
            <p onclick="window.location = '/@{{user.usuario}}?action=post'">Publicações</p>
            <p onclick="window.location = '/@{{user.usuario}}?action=respostas'">Respostas</p>
        </div>
        {% if action == 'post' or action == None %}
        {% for comentario in comentarios %}
        {% include "secComentario.html" %}
        {% endfor %}
        {% else %}
        {% for comentario in respostas %}
        {% include "secComentario.html" %}
        {% endfor %}
        {% endif %}
    </section>
</main>
{% endblock %}