{% extends "template.html" %}

{% block head %}
<title>Perfil | OrbitChat</title>
<link rel="stylesheet" href="../static/css/perfil.css">
<script src="../static/js/perfil.js" defer></script>
{% endblock %}

{% block conteudo %}
<main>
    <section class="secUsuario">
        <div onmouseover="desabilitarHover()" onmouseout="habilitarHover()" class="banner">
            <input type="hidden" id="caminhoBanner" value="{{ usuario.banner }}">
            <img src="{{ usuario.perfil }}" alt="">
        </div>
        <div class="userTitulo">
            <p class="name">{{ usuario.nome }}</p>
            {% if usuario.email == user.email %}
            <button class="btnEditarPerfil">Editar perfil</button>
                {% else %}
                {% if user == None %}
                {% else %}
                    {% if seguidor.query.filter_by(fk_seguidor=user.id, fk_seguindo=usuario.id).first() == None %}
                    <button class="seguir">Seguir</button>
                    {% else %}
                    <button class="seguir seguindo">Seguindo</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <p class="userUsuario">@{{ usuario.usuario }}</p>
        <p class="userBio">{{ usuario.descricao }}</p>
        {% if usuario.profissao != 'Sem Profissão' %}
        <p class="userBio">{{ usuario.profissao }}</p>
        {% endif %}
        <p class="userBio"><span class="qtd_seguidores">{{ seguidores }}</span> Seguidores | {{ seguindo }} Seguindo</p>
    </section>
    <section class="secEditarPerfil">
        <form action="atualizarPerfil" method="post" enctype="multipart/form-data">
            <input type="hidden" name="idUsuario" value="{{ usuario.id }}">
            <div class="titulo">
                <h2>Editar perfil:</h2>
                <i class="closeEditarPerfil fa-solid fa-xmark"></i>
            </div>
            <div class="conteudoBanner">
                <div class="banner" id="backgroundContainer"></div>
                <img id="perfilContainer" src="{{ usuario.perfil }}" alt="">
            </div>
            <input type="file" id="InputPerfil" name="perfil" accept="image/*">
            <input type="file" id="inputBanner" name="banner" accept="image/*">
            <label for="nome">Nome:</label>
            <input type="text" name="name" id="name" value="{{ usuario.nome }}">
            <label for="descricao">Descrição:</label>
            {% if usuario.descricao == 'Sem descrição' %}
            <textarea onkeyup="ajustarTamanho(this)" name="descricao" placeholder="{{ usuario.descricao }}" id="descricao"></textarea>
            {% else %}
            <textarea onkeyup="ajustarTamanho(this)" name="descricao" id="descricao">{{ usuario.descricao }}</textarea>
            {% endif %}
            <label for="profissao">Profissão:</label>
            {% if usuario.profissao == 'Sem Profissão' %}
            <input type="text" name="profissao" id="profissao" placeholder="{{ usuario.profissao }}">
            {% else %}
            <input type="text" name="profissao" id="profissao" value="{{ usuario.profissao }}">
            {% endif %}
            <input type="submit" id="submit">
        </form>
    </section>
    <section class="secComentarios">
        <div class="btnComentarios">
            <p onclick="window.location = '/@{{usuario.usuario}}?action=post'">Publicações</p>
            <p onclick="window.location = '/@{{usuario.usuario}}?action=respostas'">Respostas</p>
            <p onclick="window.location = '/@{{usuario.usuario}}?action=midias'">Midias</p>
        </div>
        {% if action == 'post' or action == None %}
            {% for comentario in comentarios %}
            {% include "secComentario.html" %}
            {% endfor %}
        {% elif action == 'midias' %}
            {% for comentario in midias %}
            {% include "secComentario.html" %}
            {% endfor %}
        {% else %}
            {% for comentario in respostas %}
            {% include "secComentario.html" %}
            {% endfor %}
        {% endif %}
    </section>
</main>
{% endblock %}