<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c6d943c8a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="shortcut icon" href="../static/img/favicon.svg" type="image/x-icon">
    <script src="../static/js/script.js" defer></script>
    {% block head %}
    
    {% endblock %}
</head>

<body>
    <header>
        <a class="logo" href="/"><i class="fa-solid fa-earth-americas"></i>OrbitChat</a>
        {% if 'user' not in session or session['user'] == None %}
        <nav class="BarraAutenticar">
            <a href="autenticar?action=Login">Login</a>
            <a href="autenticar?action=Cadastrar">Cadastro</a>
        </nav>
        {% else %}
        <nav class="barraPesquisa">
            <i class="btnTeste fa-solid fa-magnifying-glass"></i>
            <form id="formExplorar" action="explorar" method="post,get">
                <input placeholder="EXPLORAR" type="text" name="pesquisa" id="pesquisa">
                <i class="btnExplorar fa-solid fa-magnifying-glass"></i>
            </form>
        </nav> 
        <nav class="BarraMenu">
            <a href="@{{ user.usuario }}">
                <img src="{{ user.perfil }}" alt="Foto perfil">
                @{{ user.usuario }}
            </a>
        </nav>
        {% endif %}
    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul id="messages" class="list-unstyled">
        {% for message in messages %}
            <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% if 'user' not in session or session['user'] == None %}
    {% else %}
    <section class="secPublicar">
        {% if '/!' not in request.path %}
        <form action="publicar" method="post" enctype="multipart/form-data">
        {% else %}
        <form action="responder" method="post" enctype="multipart/form-data">
            <input name="resposta" type="hidden" value="{{ comentario.id }}">
        {% endif %}
        <input type="file" name="imagem" id="imagem">
            <textarea onkeyup="ajustarTamanho(this)" name="publicacao" id="publicacao"
                placeholder="O que você está pensando?"></textarea>
            <input type="submit" value="Publicar">
        </form>
    </section>
    <i class="btnPost fa-solid fa-pen-to-square"></i>
    <a href="/logout"><i class="btnLogout fa-solid fa-arrow-right-from-bracket"></i></a>
    {% endif %}
        {% block conteudo %}

        {% endblock %}
</body>
<script>
    let imagem = document.querySelectorAll("#imagem")
    imagem.forEach(element => {
        element.onerror = function () {
            element.src = "../static/img/perfil.svg";
        };
    });
</script>
</html>